

<div class="login">
  <h3>Registration Form</h3>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div>
          <label for="uname">Username</label>
          <input type="text" id="uname" formControlName="userName">
      </div>
      <small *ngIf="userName?.invalid && (userName?.touched || regFormSubmitted)" class="form">
          <div *ngIf="userName?.errors?.['required']"> Username is Required</div>
          <div *ngIf="userName?.errors?.['minlength']"> Enter aleast 5 Characters </div>
          <div *ngIf="userName?.errors?.['maxlength']"> Maximum Length is 12</div>

      </small>
      <div>
          <label for="email">Email Id</label>
          <input type="text" id="email" formControlName="emailId">
      </div>
      <small *ngIf="emailId?.invalid &&(emailId?.touched || regFormSubmitted) " class="form">
          <div *ngIf="emailId?.errors?.['required']"> Email Id is Required</div>
          <div *ngIf="emailId?.errors?.['email']"> Enter Valid Email Id </div>
      </small>
      <div>
          <label for="pwd">Password</label>
          <input type="password" id="pwd" formControlName="passWord">
      </div>
      <small *ngIf="passWord?.invalid && (passWord?.touched || regFormSubmitted) " class="form">
          <div *ngIf="passWord?.errors?.['required']"> password is Required</div>
          <div *ngIf="passWord?.errors?.['pattern']">
              Password is not valid. Enter minimum 8 characters.
              Should Contain 1 Uppercase,1 Lowercase, 1 Number with one Special Character. </div>
      </small>
      <div formGroupName="educationDetails">
          <div>
              <label for="degree">Degree</label>
              <input type="radio" id="b.e" value="b.e" formControlName="degree">
              <label for="b.e">B.E</label>
              <input type="radio" id="m.e" value="m.e" formControlName="degree">
              <label for="m.e">M.E</label>
              <input type="radio" id="mba" value="mba" formControlName="degree">
              <label for="mba">MBA</label>

          </div>

          <small *ngIf="degree?.invalid && regFormSubmitted" class="form">Degree is Required</small><br>

          <div>
              <label for="college">Select University</label>
              <select id="college" formControlName="universityName">
                  <option value="Annauniversity">Anna University</option>
                  <option value="Mit">MIT</option>
                  <option value="Srm">SRM</option>
                  <option value="Sastra">SASTRA</option>
                  <option value="Vit">VIT</option>
              </select><br>
          </div>
          <small *ngIf="universityName?.invalid &&  regFormSubmitted" class="form">field is required</small>
      </div>

      <div>
          <label for="phno">Phone Number</label>
          <input type="text" id="phno" formControlName="phoneNumber">
      </div>

      <small class="form" *ngIf="phoneNumber?.invalid && (phoneNumber?.touched || regFormSubmitted)">
          <div *ngIf="phoneNumber?.errors?.['required']">Phone number column should not be empty</div>
      </small>

      <div>
          <div> Preference Contact Method: </div>
          <label formArrayName="contactMethod" *ngFor="let mode of contactMethodValue.controls; let i=index">
              <input type="checkbox" [formControlName]="i" (change)="checkBoxesValidation()"> {{contactMode[i].value}}
              <br>
          </label>

          <small class="form" *ngIf="regFormSubmitted && checkBoxValidate">
              Checkbox is required, select atleast one value.
          </small>

      </div>

      <input type="submit" value="submit" id="btn">
  </form>
</div>